<mat-card class="mat-elevation-z8">
    <mat-card-title class="margined-header">{{ dict.panelHeader }}</mat-card-title>
    <mat-card-content>
      <div fxLayout.lt-lg="column" fxLayout.gt-md="row" class="panel">
        <div fxFlex.gt-md="75" fxFlex.lt-lg="50">
          <div style="height: 100%;">
            <canvas id="myChart"></canvas>
          </div>
        </div>
        <div fxFlex.gt-md="25" fxFlex.lt-lg="100"  fxLayout="column">
          <div fxFlex.gt-md="80" fxFlex.lt-lg="60" fxLayout="column">
            <h2 class="h2-no-margin">{{ dict.monitoredAccounts }}:</h2>
            <mat-checkbox [checked]="true" color="primary" labelPosition='before' (change)="onChangeAll($event.checked)" class="selectAllCheckbox">{{ dict.selectAll }}</mat-checkbox>
            <cdk-virtual-scroll-viewport fxFlex="90" itemSize="50">
                <mat-selection-list #myList color="primary" (selectionChange)="onChangeList($event)" class="panel-account-list">
                  <mat-list-option *ngFor="let account of accounts" [value]="account.id" [selected]="true">
                    {{ account.screenName }}
                  </mat-list-option>
                </mat-selection-list>
              </cdk-virtual-scroll-viewport>
          </div>
          <div fxFlex.gt-md="20" fxFlex.lt-lg="40">
            <h2>{{ dict.monitoredDateRange }}:</h2>
            <div>
                        <mat-form-field appearance="fill">
                            <!-- Label -->
                            <mat-label>{{ dict.enterDateRange }}</mat-label>  <!-- Range Inputs -->
                            <mat-date-range-input
                              [formGroup]="formGroup"
                              [rangePicker]="picker">

                              <input (ngModelChange)="prepareData()"
                                matStartDate
                                formControlName="startDate"
                                placeholder="{{ dict.startDatePlaceholder }}">

                              <input (ngModelChange)="prepareData()"
                                matEndDate
                                formControlName="endDate"
                                placeholder="{{ dict.endDatePlaceholder }}">
                            </mat-date-range-input>  <!-- Toggle to open calendar picker -->
                            <mat-datepicker-toggle
                              matSuffix [for]="picker">
                            </mat-datepicker-toggle>  <!-- Date range picker -->
                            <mat-date-range-picker #picker></mat-date-range-picker>
                          </mat-form-field>
                        <input id="hiddenSnapshotId" value='' (click)="goSnapshotDetail()" style="display: none;">
                        <input id="hiddenAccountId" value='' style="display: none;">
                    </div>
          </div>
        </div>
      </div>
    </mat-card-content>
</mat-card>

