html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Navbar styles */

mat-sidenav-container, mat-sidenav-content, mat-sidenav{
    height: 100%;
}

mat-sidenav{
    width: 15em;
}

.nav-caption{
    display: inline-block;
    margin-left: 1em;
}

.navbar-menu-icon-container{
    margin-right: 2em !important;
}

.navbar-menu-icon{
    font-size: 250%;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-button {
  font-size: 100%;
  margin: 0.25% !important;
  background-color: #4178db !important;
}

.navbar-title {
  font-size: 200%;
}

.navbar-title:hover {
  cursor: pointer;
}

.side-nav-name-container {
  font-size: 125%;
  margin-bottom: 0.5em;
}

/* End of navbar styles */

/* Error bar styles */

.error-snackbar {
    background: red!important;
    color: white !important;
    white-space: pre;
}

.error-snackbar .mat-button{
    color: white !important;
}

.error-snackbar .mat-button:hover{
    background-color: brown !important;
}

/* End of error bar styles */

/* Error bars and tooltips */
.allow-cr {
  white-space: pre;
}
 /**/

/* Tooltip styles */

.wide-tooltip {
  max-width: unset !important;
  font-size: 100%;
}

#chartjs-tooltip {
  white-space: pre;
}

/* End of tooltip styles */

/* Header styles */

.margined-header {
    margin-bottom: 1% !important;
}

.h2-no-margin{
  margin-bottom: 1% !important;
}

.subtitle {
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0%;
}

/* End of header styles */

/* Table styles */

.mat-header-cell {
  font-size: 100%;
}

.mat-table {
  width: 50%;
  height: 100%;
}

.table-div {
  margin-bottom: 2%;
  height: 68vh;
}

.table-cell:hover {
  cursor: pointer;
}

/* End of table styles */

/* Monitoring panel styles */

.panel-account-list {
  max-width: 100%;
}

.selectAllCheckbox {
  font-size: large;
}

.panel {
  height: 75vh !important;
}

canvas {
  height: 100%;
}

/* End of monitoring panel styles */

/* Account list styles */

.scroll-list {
  height: 100%;
}

.list-content {
  height: 100%;
}

/* End of account list styles */

/* Button styles */

.margined-button {
  margin-left: 3% !important;
}

/* End of button styles */

/* Icons styles */

.mat-icon {
  margin-left: 1%;
}

.trend-icon {
  font-size: xx-large;
  margin-bottom: 0.7em !important;
  margin-left: 0.25em !important;
}

.change-icon-no-bmargin {
  margin-bottom: 0px;
}

/* End of icons styles */

/* Detail styles */

.score-div {
  display: flex;
}

.score-inline {
  display: inline;
}

.score {
  margin: 0.5%;
  display: table-row;
}

/* End of detail styles */

/* Check styles */

.margined-suspended-info {
  padding-top: 1% !important;
}

/* End of check styles */

/* Card styles */

.mat-card-content {
  max-height: 100%;
}

.mat-card {
  margin: 1%;
}

/* End of card styles */
